.purchased-image {
    width: 200px;
    height: 200px;
}

#purchased-item-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 600px;
    border-left: 5px solid gray;
    border-right: 5px solid gray;
    border-bottom: 2px solid gray;
    border-top: 2px solid gray;
    
}

#purchased-item-h1 {
    display: flex;
    justify-content: center;
    color: white;
}

#purchase-history-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    height: 100vh;
    
}

#purchase-history-h1-div {
    display: flex;
    justify-content: center;
    
}

#purchase-history-container {
    background-color: #FAA077;
}

.purchased-price-h3 {
    color: white;
}

#purchase-history-h1 {
    font-size: 50px;
    color: white;
}

#write-review-h1 {
    font-size: 30px;
}

.purchased-link {
    color: white;
}

#purchased-link-div {
    display: flex;
    width: 100%;
    justify-content: center;
    text-align: center;
}