#home-page-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 360px 90px 360px 90px 360px 600px;
    grid-template-areas: 
    "banner banner banner banner banner"
    "banner2 banner2 banner2 banner2 banner2"
    "banner3 banner3 banner3 banner3 banner3"
    "banner4 banner4 banner4 banner4 banner4"
    "banner5 banner5 banner5 banner5 banner5"
    "banner6 banner6 banner6 banner6 banner6" 
}

.banner-1 {
    grid-area: banner;
    background-color: #DDEBE3;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 5fr;
    grid-template-areas:
    "banner-img0 banner-img1 banner-img2 banner-img3 banner-img4";
   
   
}


.banner-name {
   
    color: rgb(63, 62, 62);

}

/* #banner1-h1 {
    grid-area: h1;
    width: 1000px;
    height: 20px;
} */

.banner-3 {
    grid-area: banner3;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: auto;
    grid-template-areas: 
    "banner3-img0 banner3-img1 banner3-img2 banner3-img3 banner3-img4";
    overflow-y: hidden;
    overflow-x: scroll;
    /* position: relative; */
    /* display: flex;
    overflow: hidden; */
}

/* ::-webkit-scrollbar {
    display: none;
  } */
  


.banner-5 {
    grid-area: banner5;
    background-color: #DDEBE3;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    /* grid-template-rows: 5fr 1fr; */
    grid-template-areas: 
    "banner5-img0 banner5-img1 banner5-img2 banner5-img3 banner5-img4";
    overflow-y: hidden;
    overflow-x: scroll;
   
}


.banner-2 {
    grid-area: banner2;
    /* background-color: #FAA077; */
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

#banner2-h1-container {
    align-self: center;
}

.banner-4 {
    grid-area: banner4;
    background-color: white;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    color: rgb(63, 62, 62);
   
}

#banner2-text {
    color: rgb(63, 62, 62);
    text-decoration: underline;
}

#banner4-text {
    align-self: center;
    text-decoration: underline;
    
}

.banner-6 {
    grid-area: banner6;
    background-color: #FAA077;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 100px 1fr;
    grid-template-areas: 
    "h1 . ."
    "shop1 shop2 shop3";
    overflow-y: hidden;
    overflow-x: scroll;
    /* padding-bottom: 20px;      */
   
}

 /* #banner-name-1 {
    grid-area: name1;
  
} */
/* #banner-name-2 {
    grid-area: name1;
}
#banner-name-3 {
    grid-area: name1;
}  */

#banner-shop-1 {
    grid-area: shop1;
    display: flex;
    justify-content: center;
    text-align: center;
}
#banner-shop-2 {
    grid-area: shop2;
    display: flex;
    justify-content: center;
    text-align: center;
}
#banner-shop-3 {
    grid-area: shop3;
    display: flex;
    justify-content: center;
    text-align: center;
}

#banner6-item-div {
   margin-right: 30px;
   display: flex;
   flex-direction: column;
   align-items: center;
   width: 300px;
}

#banner6-h1 {
    width: 100vw;
    display: flex;
    justify-content: center;
}


#b6-shop-link {
    color: rgb(63, 62, 62);
}

#b6-product-link {
    color: rgb(63, 62, 62);
}


#banner6-image {
    width: 250px;
    height: 250px;
   
}



.banner-7 {
    grid-area: banner7;

   
}
.banner-8 {
    grid-area: banner8;

   
}
/* .banner-9 {
    grid-area: banner9;
    background-color: #FAA077

   
} */

.banner1-img {
    width: 200px;
    height: 200px;
    border-radius: 7em;
    margin-top: 40px;
      
}

.banner3-img {
    width: 200px;
    height: 200px;
    /* border-radius: 7em; */
    /* margin-top: 40px; */
    
}
.banner5-img {
    width: 200px;
    height: 200px;
    /* border-radius: 7em; */
    /* margin-top: 40px; */
    
}

.banner1-img-div {
    grid-area: banner-img;
     /* width: 350px; */
     /* height: 500px;  */
    /* height: 300px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* margin-right: 50px; */
    text-align: center;  
}
.banner3-img-div {
     width: 350px;
     height: 350px; 
    /* height: 300px; */
    align-self: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid gray;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.4);
    /* margin-right: 50px; */
    margin-left: 10px;
    text-align: center;  
}
.banner5-img-div {
     width: 350px;
     height: 350px; 
    /* height: 300px; */
    align-self: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid gray;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.4);
    /* margin-right: 50px; */
    margin-left: 10px;
    text-align: center;  
}

#banner1-img0 {
    grid-area: banner-img0;
}

#banner1-img1 {
    grid-area: banner-img1;
    
}

#banner1-img2 {
    grid-area: banner-img2
}

#banner1-img3 {
    grid-area: banner-img3;
}
#banner1-img4 {
    grid-area: banner-img4;
}

#banner3-img0 {
    grid-area: banner3-img0;
}

#banner3-img1 {
    grid-area: banner3-img1;
    
}

#banner3-img2 {
    grid-area: banner3-img2
}

#banner3-img3 {
    grid-area: banner3-img3;
}
#banner3-img4 {
    grid-area: banner3-img4;
}
#banner5-img0 {
    grid-area: banner5-img0;
}

#banner5-img1 {
    grid-area: banner5-img1;
    
}

#banner5-img2 {
    grid-area: banner5-img2
}

#banner5-img3 {
    grid-area: banner5-img3;
}
#banner5-img4 {
    grid-area: banner5-img4;
}


.banner-img-text {
    /* display: flex; */
    justify-content: center;
    margin-top: 0px;
    padding: 0px;
    text-decoration: none;
    color: black;
}

/* #banner-text-1 {
    grid-area: text1;
}

#banner-text-2 {
    grid-area: text2;

} */

.login-page-banner-1 {
    grid-area: banner;
    background-color: #DDEBE3;
    display: grid;
    grid-template-columns: 1fr 1fr 0.7fr 0.7fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas: 
    ". . h1 h1 . ."
    "login-img0 login-img1 credential credential login-img2 login-img3"
    "login-img0 login-img1 password password login-img2 login-img3"
    ". . button button . .";
   
}



.banner-img-div {
     /* width: 350px; */
     height: 250px; 
    /* height: 300px; */
    display: flex;
    justify-content: center;
    align-items: center;
    /* border-radius: 1.5em; */
    flex-direction: column;
    /* margin-right: 50px; */
    text-align: center;
    margin-top: 20px;
    
}

#login-banner-img {
    width: 200px;
    height: 200px;
    border-radius: 7em;
    margin-top: 0px; 
}



#login-img0 {
    grid-area: login-img0;
    align-self: center;
  
}

#login-img1 {
    grid-area: login-img1;
    align-self: center;
    
}
#login-img2 {
    grid-area: login-img2;
    align-self: center;
    
}
#login-img3 {
    grid-area: login-img3;
    align-self: center;
    
}


.banner-img-text {
    display: flex;
    justify-content: center;
    padding-top: 15px;
    
}

#form-h1 {
    grid-area: h1;
    display: flex;
    justify-content: center;

}

#form-credential {
    grid-area: credential;
    height: 50px;
    border-radius: 1.5em;
    border: none;
    background-repeat: no-repeat;

}

#form-password {
    grid-area: password;
    height: 50px;
    border-radius: 1.5em;
    border: none;
    background-repeat: no-repeat;
    
}

 #demo-button {
    width: 200px;
    height: 60px;
    border-radius: 1.5em;
    border: none;
    margin-bottom: 20px;
    
}

#login-submit-button {
    width: 200px;
    height: 60px;
    border-radius: 1.5em;
    border: none;
    margin-right: 20px;
} 

.form-button-div {
    grid-area: button;
    display: flex;
    justify-content: center;
    
}

#login-banner-text {
    text-decoration: none;
    color: black;
}

.form-errors {
    color: red;
    font-size: 20px;
    z-index: 3;
    margin-bottom: 50px;
}
