#shopping-cart-grid {
    display: grid;
    /* grid-template-columns: 1fr 1fr 1fr 1fr; */
    grid-template-rows: auto;
    
    /* grid-template-areas: 
    "name image price delete"; */
}

#cart-h1-div {
    display: flex;
    justify-content: center;
}

.cart-item {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 300px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    grid-template-areas: 
    "name image price delete"
}


#cart-h1 {
    grid-area: h1;
    margin-top: 40px;
    font-size: 40px;
}

.cart-item-name {
    grid-area: name;
    align-self: center;
    justify-self: center;
    width: 200px;
}

.cart-item-image-div {
    grid-area: image;
    align-self: center;
    
}

.cart-item-image {
    width: 250px;
    height: 200px;
    border: 1px solid gray;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);

}
.cart-item-price {
    grid-area: price;  
    align-self: center;
}

.delete-button-div {
    grid-area: delete;
    align-self:center;
}

#outer-button-div {
    display: flex;
    justify-content: center;
}

#checkout-button {
    width: 120px;
    display: flex;
    justify-content: center;
    margin-bottom: 28px;
}

.cart-item-delete {
    width: 100px;
    height: 35px;
    border: 1px solid gray;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
    border-radius: 3em;
}

#checkout-button {
    width: 120px;
    height: 50px;
    border: 1px solid gray;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
    border-radius: 3em;
    display: flex;
    align-items: center;
    margin-top: 20px;
}

#checkout-link {
   text-decoration: none;
}

.no-outline:focus {
    outline: none;
  }