#product-grid {
    margin-top: 50px;
    display: grid;
    grid-template-columns: 2fr 3fr 3fr;
    grid-template-rows: 2fr 3fr;
    grid-template-areas: 
    ". image description"
    ". reviews .";

}

#product-div {
    grid-area: image;
}

#product-image {
    width: 400px;
    height: 500px;
    border: 1px solid gray;
    box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.5);
    margin-right: 50px;
}

#description-div {
    grid-area: description
}