#product-grid {
    margin-top: 50px;
    display: grid;
    grid-template-columns: 2fr 5fr 5fr;
    grid-template-rows: 690px auto;
    grid-template-areas: 
    "decoration image description"
    "decoration reviews decoration2";

}

#product-div {
    grid-area: image;
    display: flex;
    justify-content: center;
    padding-top: 30px;
    background-color: #FDEBD2;
 
}

#product-image-div {
    max-height: 700px;
}

#product-image {
    width: 480px;
    height:  560px;
    border: 1px solid gray;
    box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.5);
    margin-right: 30px;
  
}

#reviews-container {
    background-color: whitesmoke;
}

#description-div {
    grid-area: description;
    background-color: #FDEBD2;
    overflow: scroll;  
}

#description-div::-webkit-scrollbar {
    display: none;
  }

#h3-description-div {
    font-size: 17px;
}

#reviews-div {
    grid-area: reviews;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    text-align: center;
    min-height: 300px;
    /* height: 100vh; */
}

#review-div {
    display: flex;
    flex-direction: column;
    align-items: center;  
    height: 100%; 
    width: 100%;
    padding: 0px 40px;
}

#reviews-h1 {
    display: flex;
    justify-content: center;
    font-size: 40px;
    text-decoration: underline;
    color: rgb(129, 129, 129);
}

#decoration-div {
   grid-area: decoration;
   background-color:  #FAA077;
}
#decoration-div2 {
   grid-area: decoration2;
   background-color: #DDEBE3;
}

#product-add-button {
    width: 100px;
    height: 50px;
    background-color: #DDEBE3;
    margin-bottom: 10px;
}

#product-description-div {
    margin-right: 15px;
}

#product-review-text {
    height: 120px;
    width: 550px;
    margin-bottom: 0px;
    overflow: scroll;
     /*
    word-wrap: break-word; */
    /* overflow: scroll; */
}

#product-review-text::-webkit-scrollbar {
    display: none;
  }