#product-grid {
    margin-top: 50px;
    display: grid;
    grid-template-columns: 2fr 5fr 5fr;
    grid-template-rows: 2fr 800px;
    grid-template-areas: 
    "decoration image description"
    "decoration reviews decoration2";

}

#product-div {
    grid-area: image;
    display: flex;
    justify-content: center;
    padding-top: 30px;
    background-color: #FDEBD2;
 
}

#product-image {
    width: 450px;
    height: 550px;
    border: 1px solid gray;
    box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.5);
    margin-right: 30px;
  
}

#description-div {
    grid-area: description;
    background-color: #FDEBD2;
      
}

#h3-description-div {
    font-size: 20px;
}

#reviews-div {
    grid-area: reviews;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    text-align: center;
    /* height: 100vh; */
}

#review-div {
    display: flex;
    flex-direction: column;
    align-items: center;  
    height: 300px; 
}

#reviews-h1 {
    display: flex;
    justify-content: center;
    font-size: 40px;
    text-decoration: underline;
    color: rgb(83, 83, 83);
}

#decoration-div {
   grid-area: decoration;
   background-color:  #FAA077;
}
#decoration-div2 {
   grid-area: decoration2;
   background-color: #DDEBE3;
}

#product-add-button {
    width: 100px;
    height: 50px;
    background-color: #DDEBE3;
}



#review-text {
    /* height: 200px; */
    /* width: 100px;
    word-wrap: break-word; */
    /* overflow: scroll; */
}