/* .login-page {
    display: grid;
    grid-template-columns: 2fr 2fr 2fr;
} */


/* .form-errors {
    font-size: 25px;
    color: red;
    list-style: none;
}

.form-input {
    height: 40px;
    width: 200px;
    display: block;
    margin: 10px;
}

#login-input-div {
    margin-top: 100px;
}

.form-div {
    display: flex;
    justify-content: center;
}

.form-button {
    display: block;
} */

