.form-errors {
    font-size: 25px;
    color: red;
    list-style: none;
}

.form-input {
    display: block;
    margin: 10px;
}

/* #login-input-div {
    display: flex;
    justify-content: center;
} */

.form-button {
    display: block;
}