#logged-in-nav {
    display: grid;
    grid-template-columns: 2fr 0.1fr 6fr 0.5fr 0.5fr 2fr;
    grid-template-rows: 55px;
    /* background-color: lightblue; */
    grid-template-areas: 
    ". home search profile-button cart-button .";
    align-items: stretch;
    margin-top: 5px;
    
}

#cart-button {
  grid-area: cart-button;
  align-self: center;
}

#logged-out-nav {
  display: grid;
  grid-template-columns: 2fr 0.1fr 6fr 0.1fr 0.1fr 2fr;
  grid-template-rows: 55px;
  grid-template-areas: 
  ". home search login signup .";
  align-items: stretch;
  margin-top: 5px;
}

#sub-nav {
  /* width: 1400px; */
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr 1fr 1fr 1fr 2fr;
  grid-template-rows: 34px;
  grid-template-areas: 
  ". sub1 sub2 sub3 sub4 sub5 sub6 .";
  width: 100%;
  margin-bottom: 5px;
}

/* #sub-nav-container {
  justify-content: center;
} */

#sublink-1 {
  grid-area: sub1;
}
#sublink-2 {
  grid-area: sub2;
}
#sublink-3 {
  grid-area: sub3;
}
#sublink-4 {
  grid-area: sub4;
}
#sublink-5 {
  grid-area: sub5;
}
#sublink-6 {
  grid-area: sub6;
}

.sub-link {
  text-decoration: none;
  color: black;
  width: 100px;
  height: 40px;
  align-self: center;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}



.nav-link {
  width: 50px;
  height: 40px;
  display: flex;
  text-decoration: none;
  /* background-color: rgb(241, 239, 239);  */
  color: black;
  background: none;
  /* padding: 2px 6px 2px 6px; */
  border: none;
  /* border-radius: 1em;  */

}

.sub-link:hover,
.nav-link:hover {
  background-color: rgb(252, 233, 230);
  border-radius: 1.5em;
  /* width: 70px; */
  /* text-align: center; */
 
}

#home-link {
  grid-area: home;
  margin-right: 10px;
  width: 70px;
  align-self: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

 #login-button {
  grid-area: login;
  margin-left: 50px;
  margin-right: 20px;
  align-self: center;
  display: flex;
  align-items: center;
}
#signup-button {
  grid-area: signup;
  align-self: center;
  display: flex;
  width: 70px;
  /* text-align: center; */
  justify-content: center;
  align-items: center;
  margin-left: 30px;
} 

#profile-button {
  width: 50px;
  height: 50px;
  margin-left: 45px;
  margin-right: 30px;
  align-self: center;
  grid-area: profile-button;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

#searchbar {
  grid-area: search;
  height: 40px;
  width: 100%;
  border-radius: 1.7em;
  background-color: rgb(241, 239, 239);
  background-repeat: no-repeat;
  align-self: center;
  font-size: 30px;
  padding-left: 20px;
  border: none;

}

.no-outline:focus {
  outline: none;
}

#logout-button {
  position: relative;
  z-index: 1;
  width: 70px;
  height: 30px;
  display: flex;
  text-decoration: none;
  background-color: rgb(240, 235, 235);
  color: black;
  padding: 2px 6px 2px 6px;
  border: 1px solid #333333;
  border-radius: 0.5em;
  list-style: none;
  justify-content: center;
  align-items: center;
  margin-top: 5px;
}

.profile-li:hover,
#logout-button:hover {
  background-color: rgb(252, 233, 230);
  border-radius: 1.5em;
  /* width: 70px; */
  text-align: center;
 
}


.profile-dropdown {
  /* list-style: none; */
  /* visibility: visible;
  opacity: 1;
  display: block; */
}

.profile-li {
  display: flex;
  padding: 5px;
}

/* .profile-dropdown li:hover {
  color: blue;
  background-color: blue;
} */

/* .profile-dropdown {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
} */

/* #dropdown-container {
  display: flex;
  
} */


/* #nav-container {
  background-color: lightblue;
}  */

i {
  border: none;
}

#profile-dropdown-div {
  /* position: absolute;
  right: 200px;
  top: 10px; */
  /* background-color: blue; */
  margin-top: 7em;
  width: 1000px;
  height: 300px;
  border: none;
  padding-top: 250px;
  z-index: 2;
  display: flex;
  justify-content: right;

  
}

